[submodule "MusicServer/Frameworks/CocoaHTTPServerFramework"]
	path = MusicServer/Frameworks/CocoaHTTPServerFramework
	url = git://github.com/mralexgray/CocoaHTTPServerFramework.git
[submodule "MusicServer/Frameworks/LastFMAPI"]
	path = MusicServer/Frameworks/LastFMAPI
	url = git://github.com/antm611/LastFMAPI.git
[submodule "ResponsiveMusicServer"]
	path = ResponsiveMusicServer
	url = git://github.com/antm611/ResponsiveMusicServer.git
